%h1.text-center.mb-4 User Login

= simple_form_for :sessions, url: sessions_path do |f|
  = f.error_notification
  = f.input :email, placeholder: 'Email Address'
  = f.input :password, placeholder: 'Password'

  = f.button :submit, 'Login', class: 'btn btn-block btn-dark font-weight-bolder'
