!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Goods Storage Management Facility
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.app
    .container
      .row.header.shadow.bg-white
        .col-12
          = render 'header'
      .row.content
        #toast-msg
          - flash.each do |name, msg|
            - if name == 'success'
              .toast-box{data: {controller: 'toast'}}
                .toast-content
                  = msg
                .toast-action
                  %i.fas.fa-times{data: {action: 'click->toast#close'}}

        .col-sm-3.col-xl-2.pt-5.shadow-sm.bg-white
          = render 'sidenav'
        .col-sm-9.col-xl-10.p-4
          = yield
